{% extends "base.html" %}

{% block title %}
Welcome Home
{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        {% if not projects %}
            <p>You are not assigned to any projects</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
            {% for project in projects %}
                <tbody>
                    <tr>
                        <td>{{ project.name }}</td>
                        <td></td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        {% endif %}
    </div>
</main>
{% endblock content%}
